<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Official home Page</title>
</head>
<body>
    <div class="homepage vh-100">
        <div class="head">
            <h1 class="mb-5 mt-0">BRACE INTERNATIONAL SCHOOLS IN UGANDA</h1>
            <h1 class="mb-3">JOAN APIO, <br> WELCOME TO THE SCHOOL HOMEPAGE.</h1>
            <h2 >Here's our official Home page. Feel free to log in as a Student to get started</h2>
            <a href="/logout" class="py-4 mt-5 btn btn-dark btn-lg btn-block">Get tarted</a>
        </div>
    </div>
    

</body>
</html>