*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage{
    background-image: url(./pexels-stanley-morales-1454360.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;    
}



.head .brace-head{
    color: #3176b1;
}


.head {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.head h2{
    font-size: 2vw;
    color: white;
    z-index: 1;
}

.head h1 {
    letter-spacing: 0.2ch;
    font-size: 3vw;
    font-weight: 700;
    color: #3176b1;
    font-family: 'georgia';
}

.head h4 {
    letter-spacing: 0.2ch;
    font-size: 3vw;
    font-weight: 700;
    color: #71c3e1;
    font-family: 'century gothic';
}

.head::before {
    content: "";
    background: rgba(0, 0, 0, 0.301);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; 
} 



/* login style */

#dp{
    top: 10%;
    left: 70%;
    border: 3px solid #9A616D;
    width: 90px;
    height: 90px;
    border-radius: 50%;        
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
}



form, a{
    text-decoration: none;
}

.img-fluid{
    box-shadow: 4px 0px 5px -2px rgba(0,0,0,0.75);
}

.form-floating{
    border: 2px solid #4b4a4d;
    border-radius: var(--bs-border-radius);
}

.btn-dark{
    display: flex-end;
    background: #9a616d;
    border: none;
    z-index: 1;
}

.btn-dark:hover{
    background: #c4919c;
}

.required{
    content: "*";
    color: red;
}

 